*{
    font-family: 'Source Code Pro', monospace;
}

/*NO TOCAR DE ACA PARA ABAJO*/
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

header{
    width: 100%;
    height: 5vw;
    background-color: rgb(0, 0, 0);
    text-align: center; */alinear logo */
}

nav{
    width: 100%;
    height: 5vw;
    background-color: rgb(0, 0, 0);
    padding-top: 1vw;
    display: flex;
    padding-bottom: 1vw;
    font-size: 1vw;
    margin-bottom: 2vw;
}

main{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}


footer{
    width: 100%;
    height: 10vw;
    background-color: rgb(15, 15, 15);
    color: rgb(50, 50, 50);
    text-align: center;
    padding-top: 4vw;
    margin-top: 2vw;
}

.logo{
    width: 5vw;
    height: 100%;
}

span{
    color: rgb(195, 255, 0);
}

.name{
    padding-left: 1vw;
    padding-top: 0.6vw;
    color: rgb(255, 255, 255);
    font-size: 1em;
}

button{
    margin-left: 4vw;
    padding: 0.7vw;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 0.2vw;
    border-color: rgb(40, 40, 40);
    border-style: solid;
    border-width: 1px;
    font-size: 1vw;
}

button:hover{
    margin-left: 4vw;
    padding: 0.7vw;
    border: none;
    background-color: rgb(195, 255, 0);
    color: rgb(0, 0, 0);
    border-radius: 0.2vw;
    border-color: rgb(195, 255, 0);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 1vw;
}

.buttons{
    width: 85%;
    text-align: right;
    margin: 0 auto;
    font-size: 1vw;
    padding-right: 1vw;
}

.p1{
    font-size: larger;
    font-weight: bold;
}

p2{
    color: rgb(95, 95, 95);
    font-size: 0.9vw;
}

span2{
    color: blueviolet;
}

span3{
    color:rgb(255, 23, 104)
}

p{
    font-size: 1vw;
}


p3{
    font-size: larger;
    font-weight: bold;
    color: rgb(0, 255, 149);
}

.center-content {
    text-align: center;
}
   
.main-form{
    text-align: center;
}

.tabla{
    text-align: center;
    width: 100%;
    height: 30vw;
}

table{
    width: 80%;
    height: 50%;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 2px;
}

.video{
    width: 95vw;;
    height: 30vw;
    text-align: center;
    margin: 0 auto;
}

.descarga{
    width: 95vw;;
    height: 10vw;
    text-align: center;
    margin: 0 auto;
}